<!doctype html>
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet">
    <title>Email Code</title>

</head>
<body style="margin: 0; padding: 0; background-color: #0a0a0a; color: #ececec; width: 100%; height: 100%; text-align: center; font-family: 'Inter', sans-serif;">
<table role="presentation" style="width: 100%; height: 100%; background-color: #0a0a0a; text-align: center; table-layout: fixed;" width="100%" height="100%" bgcolor="#0a0a0a" align="center">
    <tr>
        <td align="center" valign="middle">
            <table class="container" role="presentation" style="height: 100%; text-align: center; table-layout: fixed; max-width: 600px; width: 90%; background-color: #0a0a0a; margin: 0 auto;" width="90%" height="100%" align="center" bgcolor="#0a0a0a">
                <tr>
                    <td class="header" style="font-size: 40px; font-weight: 800; color: #ffffff; text-align: left; padding: 20px; align-items: center;" align="left">
                        Foxogram
                    </td>
                </tr>
                <tr>
                    <td class="content" style="padding: 10px 20px; text-align: left;" align="left">
                        <h1 class="title" style="font-weight: 400; font-size: 30px; color: rgba(236, 236, 236, 0.76); margin: 80px 0 -40px;">Hello, {0}!</h1>
                        <p class="text-confirm" style="font-weight: 700; font-size: 40px; margin: 40px 0 -5px 0;">Your confirmation code:</p>
                        <p class="code" style="font-size: 65px; font-weight: 900; color: #4a89ff; margin: 20px 0;">{1}</p>
                        <p class="text" style="font-size: 20px; font-weight: 400; color: rgba(236, 236, 236, 0.5); width: 75%;">
                            Enter this code on the registration page to confirm your email.<br>
                            Or <a href="https://app.dev.foxogram.su/auth/email/verify/{1}" class="link" style="color: #4a89ff; font-weight: 700;">click here</a> for automatic confirmation.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="footer" style="font-size: 14px; color: rgba(236, 236, 236, 0.5); width: 75%; text-align: left; padding: 20px;" width="75%" align="left">
                        You received this message because your e-mail address was used to register at <a href="https://foxogram.su" class="link" style="color: #4a89ff; font-weight: 700;">foxogram.su</a>.
                        <br>
                        <span class="suspension" style="display: block; margin-top: 10px;">If you did not do it - ignore this message.</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
