services:
  foxogram-api:
    build:
      context: ./foxogram-api
    restart: always
    networks:
      - db_network
      - traefik
    labels:
      traefik.enable: true
      traefik.http.routers.foxogram-api.rule: Host(`api.foxogram.su`)
      traefik.http.routers.foxogram-api.tls.certresolver: letsencrypt
      traefik.http.services.foxogram-api.loadbalancer.server.port: 8080

networks:
  db_network:
    external: true
  traefik:
    external: true
